// Fonts

$sans: "Roboto", sans-serif;
$mono: monospace;

// Colors

$light: #ffffff;
$offLight: #e5e5e5;
$mid: #424242;
$dark: #1a1a1a;

// Border

$radiusL: 15px;

// Shadows

$shadowMain: 0px 15px 10px -10px rgba(0, 0, 0, 0.2);

// Transitions

$transNormal: all ease-in-out 0.1s;
