@import "globals";

body {
    margin: 0;
    padding: 0;
    background-color: $offLight;
    color: $dark;
    font-family: $sans;
    overflow: hidden;
}

textarea,
textarea:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
