@import "../../globals";

.Preview {
    overflow: scroll;
}

.PreviewContent {
    min-width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}
